div.ScrollMenu {
 a {
     text-decoration:underline;
     cursor:pointer;
     
 }
}



a.ScrollMenu__Button {
    display:inline-block;
    padding:8px;
    
}
a.ScrollMenu__Button--Active {
    font-weight:bold;
}