div.ScrollMenu {
button {
     text-decoration:underline;
     cursor:pointer;
     
 }
}



button.ScrollMenu__Button {
    display:inline-block;
    padding:8px;
    border:none;
    
}
button.ScrollMenu__Button--Active {
    font-weight:bold;
}