svg.AnalogGauge {

    circle.background {
        fill: rgb(200, 200, 200)
    }

    text.marking {
        font-size: 13.5px;
        dominant-baseline: central;
        text-anchor: middle;
    }

    text.label {
        font-size: 16px;
        font-weight: bold;
        text-anchor: middle;
    }

    g.needle {
        fill: rgb(200, 0, 0)
    }
}
