<svg class="AnalogGauge" viewBox="0 0 200 115">

    <!--##### BEGIN Group to shift coordinate origin to needle pivot point ##### -->
    <g transform="translate(100,100)">

        <!-- The background disk:-->
        <circle class="background" r="100" />

        <!-- The number markings: -->
        <text v-for="marking in markings" class="marking" :transform="'translate(' + marking.x + ',' + marking.y + ')'">
            {{marking.v}}
        </text>

        <!-- The label: -->
        <text class="label" y="-22">
            {{label}}
        </text>

        <!-- The needle: -->
        <g class="needle" :transform="'rotate(' + needleAngle_deg + ')'">
            <polygon points="0,-7 -70,0 0,7" />
            <circle r="7" />
        </g>

    </g>
    <!--##### END Group to shift coordinate origin to needle pivot point ##### -->
</svg>
