<div class="HereRouting">

 
    Verkehrsmittel:
    <select v-model="transportMode">
        <option v-for="option in transportModeOptions">
            {{option}}
        </option>
    </select>


    <p>
        Start: <LocationInput v-model="coords_start" :map="map" markerUrl="img/pin_start_40.png" :markerOffsetX="-20" :markerOffsetY="-40" />
    </p>


    <p>
        Ziel: <LocationInput v-model="coords_end" :map="map" markerUrl="img/pin_finish_40.png" :markerOffsetX="-20" :markerOffsetY="-40" />
    </p>



    <p>
        <button class="Button Input" @click="onAddBlockadeButtonClick">Hindernis einfügen</button>
        <button class="Button Input" @click="onClearBlockadesButtonClick">Alle Hindernisse löschen</button>
    </p>
    <p>

        
        <button class="Button Input" @click="route">Route berechnen</button>
        <!--
        <input type="button" value="Route löschen" @click="onClearRoutesButtonClick"/>
        -->
    </p>
</div>
