div.LocationSearch {
    input[type="text"] {
        width: 160px;
    }
}

/* 
ATTENTION:

div.LocationSearch__result must be defined *outside of* div.LocationSearch since FloatingWindows
are detached from their parent element and re-attached as children of the <body> element after
mounting. This means that style rules won't work if they apply to children of 'LocationSearch' <div>s!
*/

// TODO: 4 Implement and use a generic list component for this?

div.LocationSearch__Result {

    overflow: auto;

    //############ BEGIN Search result entry ############
    > button {
        border:none;
        display:block;
        width:100%;
        text-align:left;
        background-color: #eee;
        background-repeat: no-repeat;
        background-position: 6px 10px;

        border:2px solid #eee;
        
        &:focus {
            outline: 2px solid #000;
            border:2px dashed #000;
        }
        padding: 7px;        
        

        &:hover {
            background-color: #ddd;
            cursor: pointer;
        }
    }
    //############ END Search result entry ############

    div.LocationSearch__NoResult {
        padding:10px;
    }
}
