<DashboardPanel :title="title" :subtitle="subtitle">

    <template v-if="showDisplayModeButtons" v-slot:headerButtons>

        <SmartButton class="LightButton" v-model="displayMode_internal" :set="0" data-tooltip="Diagramm">
            <img src="tivigi/img/barchart32.png" alt="Diagramm" />
        </Smartbutton>
        <SmartButton class="LightButton" v-model="displayMode_internal" :set="1" data-tooltip="Tabelle">
            <img src="tivigi/img/table.svg" alt="Tabelle" />
        </Smartbutton>

    </template>

    <template v-slot:main>

        <template v-if="displayMode_internal == 0">
            <ChartCanvas :allowPanX="allowPanX" :allowPanY="false" :extent.sync="extent" 
            :legend.sync="legend_internal"
                 :autoscaleX="autoscaleX" :autoscaleY="autoscaleY" style="height:200px;">

                <template v-slot:charts>
                    <BarChart :buckets="barsBuckets" :colors="colors"/>
                    <LineChart :buckets="linesBuckets" :colors="colors"/>
                </template>

                <template v-slot:under>
                    <DatetimeAxis dimension="x" :showLines="false" :showMovingLabel="showMovingLabel"
                        :forceLabelScale="forceXLabelScale" />
                    <NumericalAxis dimension="y" />
                </template>

            </ChartCanvas>

            <ChartLegend :data="legend_internal" style="margin-top:20px;" />
        </template>
        <template v-else>
            <TableView :data="tableData" />

        </template>
    </template>


    <template v-slot:infoPanel>

        <slot name="infoPanelText"></slot>


        <template v-if="comments.length > 0">
            <h3>Anmerkungen:</h3>
            <ul>
              <li v-for="comment of comments" style="margin:16px 0px">
                {{comment}}
              </li>
            </ul>
          </template>
      
          <template v-if="sourceInfo.length > 0">
            <h3>Quellen:</h3>
      
            <ul>
              <li v-for="source of sourceInfo" style="margin:16px 0px">
                {{source}}
              </li>
            </ul>
          </template>
    </template>
</DashboardPanel>