<DashboardPanel :title="title" :subtitle="subtitle">

    <template v-if="showDisplayModeButtons" v-slot:headerButtons>

        <SmartButton class="LightButton" v-model="displayMode_internal" :set="0" data-tooltip="Diagramm">
            <img src="tivigi/img/barchart32.png" alt="Diagramm" />
        </Smartbutton>
        <SmartButton class="LightButton" v-model="displayMode_internal" :set="1" data-tooltip="Tabelle">
            <img src="tivigi/img/table.svg" alt="Tabelle" />
        </Smartbutton>

    </template>

    <template v-slot:main>
        
        <template v-if="displayMode_internal == 0">            
            <ChartCanvas :allowPanX="allowPanX" :allowPanY="false" :extent.sync="extent" 
            :legend.sync="legend_internal" style="flex:1" :autoscaleX="autoscaleX" :autoscaleY="autoscaleY">

                <template v-slot:charts>
                    <BarChart :buckets="barsBuckets" />
                    <LineChart :buckets="linesBuckets" />
                </template>

                <template v-slot:under>
                    <DatetimeAxis dimension="x" :showLines="false" :showMovingLabel="showMovingLabel" :forceLabelScale="forceXLabelScale" />
                    <NumericalAxis dimension="y" />
                </template>

            </ChartCanvas>

            <ChartLegend :data="legend_internal" style="margin-top:6px;" />
        </template>
        <template v-else>
            <TableView :data="tableData" />

        </template>
    </template>


    <template v-slot:infoPanel>

        <slot name="infoPanelText"></slot>


    </template>
</DashboardPanel>