div.DashboardPanel {
    height: 100%;

    display: flex;
    flex-direction: column;
}

div.DashboardPanel div.SidebarPanel__Body {
    padding: 16px;
}

div.DashboardPanel--expanded {
    background-color: #fff;
    position: fixed;

    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    margin: 0px !important;

    padding: 20px;
    z-index: 999;
}

div.DashboardPanel__InfoText {
    line-height: 1.3em;
}

div.DashboardPanel__Header {
    display: flex;
    margin-bottom: 16px;

    h2 {
        color: #444;
        margin: 0;

        margin-bottom: 4px;
        font-size: 1.3em;
    }

    h3 {
        margin: 0;
        color: #777;
        font-size: 1em;
        font-weight: normal;
    }

    div.DashboardPanel__Header__Spacer {
        flex: 1;
    }

    > div.DashboardPanel__HeaderButtons {
        margin-left: 8px;
        display: flex;
        max-height: 30px;
    }
}

div.DashboardPanel__Main {
    // Note that we can't use CSS transform/translate for vertical centering here 
    // because this will under some circumstances break "position:fixed" of nested elements.
    
    flex: 1;
    display: flex;
    flex-direction: column;
    > div {
        flex: 1;
    }
}
