<div :class="getDynamicClass()">

  <div class="DashboardPanel__Header">

    <div>
      <!-- 
        NOTE: We use v-html here instead of {{text}} so that HTML control codes like "&shy;" are parsed.
        This is required to add things like soft hyphens to the title variable.
      -->
      <h2 v-if="title != ''" v-html="title"></h2>
      <h3 v-if="subtitle != ''" v-html="subtitle"></h3>
    </div>

    <div class="DashboardPanel__Header__Spacer"></div>

    <!-- NOTE: height:0 prevents the buttons from growing vertically if the heading has multiple lines. -->


    <div class="DashboardPanel__HeaderButtons">
      <slot name="headerButtons"></slot>

      <Smartbutton v-if="showFullscreenButton" class="LightButton" v-model="expanded" :set="true" :unset="false"
        data-tooltip="Vollbild"><img src="img/expand.png"></Smartbutton>
      <Smartbutton v-if="showInfoButton" class="LightButton" v-model="showInfoPanel" :set="true" :unset="false"
        data-tooltip="Informationen"><img src="img/info.svg"></Smartbutton>

    </div>
  </div>

  <div class="DashboardPanel__Main">
    <div>
      <slot name="main" />
    </div>
  </div>

  <!--############## BEGIN Info sidebar panel ##############-->

  <SidebarPanel :show.sync="showInfoPanel" :title="getInfoPanelTitle()">
    <slot name="infoPanel"></slot>
  </SidebarPanel>

  <!--############## END Info sidebar panel ##############-->

</div>