div.DashboardPanel div.SidebarPanel__Body {
    padding:16px;
}


div.DashboardPanel--expanded {
    background-color: #fff;
    position: fixed;
    
   
    
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    
    margin: 0px !important;    
    
    padding: 20px;
    z-index: 999;
}


div.DashboardPanel__InfoText {

    line-height: 1.3em;
}



div.DashboardPanel__Header {
    display: flex;   
   
    margin-bottom:16px;
    
    h2 {
        color: #444;
        margin: 0;
        
        margin-bottom: 4px;
        font-size: 1.3em;
    }

    h3 {
        margin:0;
        color:#777;
        font-size:1em;
        font-weight:normal;
    }

    button {
        background-color: #fff;
        
        margin:0px 1px;
        padding: 2px 2px;
        border-radius: 4px !important;
      
        display: flex;
        align-items: center;
        color: #000 !important;
        &:hover {
            background-color: #ddd;
        }
 
        font-size:1em;
        font-weight:normal;
        > span {
            display: none;
        }
        img {
            height: 16px;
        }
    }

    button.Smartbutton--checked {
        background-color: #e0e0e0;
    }

    div.DashboardPanel__Header__Spacer {
        flex: 1;
    }
}