<div class="TableView" v-if="displayData != null">
  <table>

    <thead>
      <tr>


        <template v-for="(field,index) in displayData.fields">



          <th @keydown="onKeyPress(index, $event)" @click="onHeaderCellClick(index)" tabindex="0" v-html="field.shortLabel" 
          :data-tooltip='"Sortieren nach: <strong>" + field.label + "</strong>"' :style="getButtonStyle(index)">
          </th>


        </template>

        <!--
        <template v-for="(field,index) in displayData.fields">
          <th>


            <button v-html="field.shortLabel" @click="onHeaderCellClick(index)" :style="getButtonStyle(index)" :data-tooltip='"Sortieren nach: <strong>" + field.label + "</strong>"'>

            </button>

          </th>
        </template>

      -->
        <!--
        <th v-for="(field,index) in displayData.fields">

        
        
          <button v-html="field.shortLabel" @click="onHeaderCellClick(index)" :style="getButtonStyle(index)" :data-tooltip='"Sortieren nach: <strong>" + field.label + "</strong>"'>

          </button>
-->
        </th>

      </tr>
    </thead>

    <tbody>


      <tr v-for="(row,index) in displayData.rows" :class="getRowClass(row)" @click="onRowClick(row)">
        <td v-for="field in displayData.fields" :style="getDynamicStyle(field)">
          {{field.display(row)}}
        </td>
      </tr>

    </tbody>
  </table>
</div>