div.TableView {
    overflow: auto;

    font-size: 15px;
    table {
        border-collapse: collapse;

        width: 100%;

        thead {
            margin: 0;
            padding: 0;
            top: 0;
            position: sticky;

         

            th {
                
                //height: 100%;
              
                font-size: 14px;

                font-weight: bold;
                color: #444;
                margin: 0;

                padding: 6px;                
                // Space for the sort icon:
                padding-right: 22px;
                
                //   border:1px solid #000;

                user-select: none;

                text-align: left;
                //white-space: nowrap;

                border: none;
                border-right: 1px solid #bbb;

                background-color: #ddd;
                background-position: right 6px center;                
                background-size: 0.8em;
                background-repeat: no-repeat;
              

                &:hover {
                    background-color: #c0c0c0;
                 //   cursor: pointer;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }

        td,
        th {
            padding: 2px 4px;
        }


        
        tbody {
            tr {
                border-bottom: 1px solid #e5e5e5;

               // cursor: pointer;
                &:hover {
                    background-color: #ccc;
                }
            }
        }
    }
}

tr.TableView__SelectedRow {
    background-color: #bbb;
}


td.TableView__ClickableCell {
    cursor:pointer;
}