<div class="TableView" v-if="displayData != null">
  <table>

    <thead>
      <tr>
        <template v-for="(field,index) in displayData.fields">
          <th v-if="field.allowSorting" @keydown="onKeyPress(index, $event)" @click="onHeaderCellClick(index)" tabindex="0" 
          v-html="field.shortLabel" :data-tooltip='"Sortieren nach: <strong>" + field.label + "</strong>"' 
          :style="getButtonStyle(index)">
          </th>
          <th v-else v-html="field.shortLabel"
          ></th>
        </template>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(row,index) in displayData.rows" :class="getRowClass(row)" @click="onRowClick(row)">
        <td v-for="field in displayData.fields" :style="getDynamicStyle(field)" 
        :class="getCellClass(field,row)"
        v-html="field.display(row)" @click="onCellClick(field,row)"
        :data-tooltip="field.hoverText"></td>
      </tr>
    </tbody>
  </table>
</div>