<div class="TableView3" v-if="displayData != null">
  <table>

    <thead>
      <tr>
        <th v-for="(field,index) in displayData.fields">
          <button @click="onHeaderCellClick(index)"  :title='"Nach \"" + field.label + "\" sortieren"'>

            <!-- NOTE: Depending on whether the text alignment of the field is left or not (e.g. right or center),
            we put the order icon either *in front of* or *behind* the text label: -->
            <!--
            <template v-if="field.textAlign == 0">
              <span>{{field.label}}</span>
              <img src="tivigi/img/arrow_down2.svg" :style="getSortIconStyle(index)" />
            </template>

            <template v-else>
              <img src="tivigi/img/arrow_down2.svg" :style="getSortIconStyle(index)" />
              <span>{{field.label}}</span>              
            </template>
            -->
            <span>{{field.label}}</span>
            <img src="tivigi/img/arrow_down2.svg" :style="getSortIconStyle(index)" />

          </button>
        </th>
      </tr>
    </thead>

    <tbody>


      <tr v-for="(row,index) in displayData.rows" :class="getRowClass(row)" @click="onRowClick(row)">
        <td v-for="field in displayData.fields" :style="getDynamicStyle(field)">
          {{field.display(row)}}
        </td>
      </tr>

    </tbody>
  </table>
</div>