<div  v-onresize="onResize">
    <svg class="SvgChart">

        <!-- This is a frame around the entire viewBox: -->

        
        <rect v-if="debug" class="SvgChart__DebugViewboxBorder" :x="0" :y="0" :width="size.x"
            :height="size.y + paddingBottom" />



        <g :transform="'translate(' + cached_yLabelsWidth + ',' + (chartAreaSize.y + paddingTop + getDisplayMinY() * getScaleY()) + ')'">


            <!-- This is a frame around the chart area -->

            <rect v-if="debug" class="SvgChart__DebugChartAreaBorder" :x="0" :y="-chartAreaSize.y"
                :width="chartAreaSize.x" :height="chartAreaSize.y" />

            <Axis dir="x" :labels="getLabelsX()" />
            <Axis dir="y" :labels="getLabelsY()" />


            <!--################# BEGIN Draw stacked bars ###################-->
            <g v-for="(bucket, bucketIndex) in stackData">

                <g v-for="(stack,stackIndex) in bucket">

                    <rect v-for="(point, pointIndex) of stack"
                        :x="(w2sX(bucketIndex) - ((cfg_barWidth) * bucket.length) / 2 + stackIndex * (cfg_barWidth)) + cfg_barSpacing/2"
                       
                       
                        :y="w2sY(point.y)" :width="cfg_barWidth - cfg_barSpacing" :height="getBarHeight(point.height)"
                        :data-tooltip="getDataPointTooltip(point.dataset,point.height)"
                        :style="getDatasetStyle(point.dataset, 1, '#000')" />

                </g>
            </g>
            <!--################# END Draw stacked bars ###################-->


            <!--################# BEGIN Draw the rest ###################-->
            <g v-for="(bucket,bucketIndex) in data.datasetBuckets"
                :transform="'translate(' + bucketIndex * cfg_barWidth + ',0)'">

                <!-- TODO: We shouldn't use the stroke color that is configured in the styles for the lines 
                and the crosses, because e.g. we might want to use black as stroke color for *all* bars, but
                of course still use different stroke colors for the lines and crosses
            -->
                <g v-for="(dataset,datasetIndex) in bucket.datasets">


                    <!--############ BEGIN Lines #############-->
                    <g v-if="dataset.style.chartType == 'lines'" :style="getDatasetStyle(dataset, 2)">
                        <path :d="getPath(dataset)" :data-tooltip="dataset.label" />

                        <!-- Circles on data points: -->
                        <circle v-for="(point,index) in dataset.points" :cx="w2sX(point.x) " :cy="w2sY(point.y)" :r="3"
                            :data-tooltip="getDataPointTooltip(dataset,point.y)" />
                    </g>
                    <!--############ END Lines #############-->



                    <!--############### BEGIN Crosses on data points ############### -->
                    <template v-if="dataset.style.chartType == 'crosses'">

                        <g v-for="(point,index) in dataset.points" :data-tooltip="getDataPointTooltip(dataset,point.y)"
                            :style="getDatasetStyle(dataset, 2, '#000')"
                            :transform="'translate(' + (w2sX(point.x) - cfg_barWidth/2) + ',' + w2sY(point.y) + ')'">

                            <!-- NOTE: This rectangle is invisible and serves as a mouse/touch-sensitive area for the tooltip -->
                            <rect :x="- crossSize" :y="- crossSize" :width="crossSize*2" :height="crossSize*2"
                                style="fill:transparent;stroke:transparent" />

                            <g style="stroke:#fff;stroke-width: 7;">
                                <line :x1="- crossSize - 1" :y1="- crossSize - 1" :x2="crossSize + 1"
                                    :y2="crossSize + 1" />
                                <line :x1="- crossSize - 1" :y1="crossSize + 1" :x2="crossSize + 1"
                                    :y2="- crossSize - 1" />
                            </g>

                            <line :x1="- crossSize" :y1="- crossSize" :x2="crossSize" :y2=" crossSize" />
                            <line :x1="- crossSize" :y1="  crossSize" :x2="crossSize" :y2="- crossSize" />
                        </g>
                    </template>
                    <!--############### END Crosses on data points ############### -->

                </g>
            </g>
        </g>

        <!--################# END Draw the rest ###################-->

        <!--
    <text v-if="debug" x="10" y="20">{{getDisplayMinY()}} : {{getDisplayMaxY()}}</text>
    -->
    </svg>
</div>