div.TableView2 {
    // user-select: none;

    overflow-y: scroll; // IMPORTANT!
    //border:1px solid #000;
   height:400px;
   
    table {
        border-collapse: collapse;

        width: 100%;
      
        position: sticky;
        top: 0px;

        td.TableView2_Spacer {
            height: 0px;
            line-height: 0 !important;
            overflow: hidden;
            user-select: none !important;
            padding-top: 0;
            padding-bottom: 0;
        }

        thead {
            margin: 0;
            padding: 0;
                  
            th {
          
                padding: 0;

                button {
                    background-color: #ddd;
                    
                    display: block;
                    font-weight: bold;
                    color:#444;
                    margin: 0;
                    padding: 6px;
                    border: none;                    
                    border-right:1px solid #bbb;
                    
                    display: block;
                    width: 100%;
                    text-align: left;
                    white-space: nowrap;
                    
                    img {
                        transition: 0.4s;
                        height: 0.8em;
                        margin-left: 4px;
                    }

                    &:hover {
                        background-color: #ccc;
                    }
                }

                &:last-child {
                    button {
                        border-right:none;
                    }
                }
            }

            
        }

        td,
        th {         
            padding: 2px 4px;
            //white-space: nowrap;
            //overflow:hidden;
            max-width:400px;
        }

        tbody {
            tr {
                border-bottom:1px solid #e5e5e5;
            }
        }
    }
}
