div.ChartCanvas {
  user-select: none;
  position:relative;

  rect.ChartCanvas__ViewBoxBorder {
    fill: none;
    //stroke: #000;
    stroke-width: 1;
  }

  rect.ChartCanvas__ChartAreaBorder {
    fill: none;

    stroke: none;
    //stroke: rgba(0,0,0,0.4);
    stroke-width: 2;
  }

  svg {
    //border:1px solid #000;
    height: 100%;
    width: 100%;
    font-size: 13px;
  }

  button {
    height:20px;
    padding:2px 6px;
    line-height: 0;
  }
}

