<div class="ChartCanvas" v-onresize="onResize">

    <svg ref="svg" :viewBox="getViewBoxString()" @mousedown="onMouseDown" @wheel="onWheel" :style="getStyle()">

        <defs>
            <clipPath :id="clipPathId">
                <rect :x="0" :y="0" :width="chartAreaSize.x" :height="chartAreaSize.y" />
            </clipPath>
        </defs>


        <!-- This is a frame around the entire viewBox: -->
        <rect class="ChartCanvas__ViewBoxBorder" v-if="debug" :x="0" :y="0" :width="viewBoxSize.x" :height="viewBoxSize.y" />


        <!-- This is a frame around the chart area: -->
        <rect class="ChartCanvas__ChartAreaBorder" v-if="debug" :x="chartAreaPos.x" :y="chartAreaPos.y" :width="chartAreaSize.x" :height="chartAreaSize.y" />



        <g :transform="'translate(' + chartAreaPos.x + ',' + chartAreaPos.y + ')'">

            <slot name="under"></slot>

            <g :clip-path="'url(#' + clipPathId + ')'">
                <slot name="charts"></slot>
            </g>

            <slot name="over"></slot>

        </g>

        <circle v-if="debug" :cx="tp1.x" :cy="tp1.y" r="60" />
        <circle v-if="debug" :cx="tp2.x" :cy="tp2.y" r="60" />
    </svg>

    <template v-if="allowPanX && showPanButtons">
        <button @click="onLeftButtonClick" style="position:absolute;bottom:0;left:0;">⇦</button>
        <button@ @click="onRightButtonClick" style="position:absolute;bottom:0;right:0">⇨</button>
    </template>
</div>