div.ChartCanvas {
  user-select: none;    

  div {
    height:100%;
    min-height:150px;
  }
  rect.ChartCanvas__ViewBoxBorder {
    fill: none;
    //stroke: #000;
    stroke-width: 1;
  }

  rect.ChartCanvas__ChartAreaBorder {
    fill: none;

    stroke: none;
     //stroke: rgba(0,0,0,0.4);
    stroke-width: 2;
  }

  svg {
    // ATTENTION: We must set position:absolute for the <svg>! Otherwise, an endless
    // recursion, powered by the v-onresize event handler, will be triggered and make the
    // <svg> grow infinitely. This is because if position is not "absolute" (or fixed),
    // the <svg> is emebedded into the layout flow of the page, and in that case, a change of 
    // the <svg>'s size changes the size of the wrapper <div>, which, in turn,
    // will again cause a change of the size of the <svg>, and so on ...
    
    position:absolute;
    font-size: 13px;
   
    
  }
}
