<!--
NOTE:
The two nested <divs> and their assigned CSS styles are required to prevent the map panel from 
shrinking too small in flex row (portrait) mode under some circumstances, not only in Safari,
but also in other browsers (though the problem is probably caused in the first place 
by having to set the map <div>'s 'position' property to 'absolute' to work around a Safari bug).
-->

<div class="MapPanel" v-onresize="onResize">
    <div class="MapPanel__Inner" ref="mapContainer" @dragover="onDragover" @drop="onDrop" @focus="onFocus" @focusout="onFocusOut"></div>

    <MapLoadingProgressBar v-if="showLoadingBar" :map="map" :fadeout="true" :showPercent="false" />

    <img src="/tivigi/img/crosshair_red.svg" v-if="hasFocus" class="MapPanel__Crosshair" />


    <div v-if="showMobileButtons" class="MapPanel__Toolbar">
        <Superbutton :icon="getControlModeIconUrl()" label="Eingabemodus" :title="getControlModeButtonTitle()" @click="switchControlMode" />
        <Superbutton label="Hilfe" icon="/tivigi/img/question.svg" v-model="showHelpWindow" :set="true" :unset="false" />
        <slot />
    </div>

    <!-- TODO: Perhaps move help text to separate file or even load it from a URL at runtime -->


    <SidebarPanel :show.sync="showHelpWindow" title="Hilfe zur Bedienung der Karte">

        <div style="padding:20px">

            <template v-if="touchscreenMode">
                <p>
                    Dieses Kartenpanel befindet sich im <strong>Touchscreen-Modus</strong>.
                </p>
                <p>
                    In diesem Modus werden Eingaben mit Maus oder mit einem einzelnen Finger standardmäßig
                    <strong>ignoriert</strong>.
                </p>

                <p>
                    Um mit der Karte zu interagieren, gehen Sie folgendermaßen vor:
                </p>

                <h3>Verschieben des Kartenausschnitts</h3>

                <ul>
                    <li>
                        <p>
                            Auf <strong>Touchscreens</strong> (Smartphone, Tablet etc.) wischen Sie
                            mit zwei Fingern gleichzeitig in die gewünschte Richtung.
                        </p>
                    </li>
                    <li>
                        <p>
                            Mit <strong>Maus oder Touchpad</strong> (PC / Laptop) halten Sie eine der STRG-Tasten
                            der Tastatur sowie die linke Maustaste gleichzeitig gedrückt und 
                            verschieben Sie die Maus.
                        </p>
                    </li>
                </ul>

                <h3>Zoomen des Kartenausschnitts</h3>

                <ul>
                    <li>
                        <p>
                            Auf <strong>Touchscreens</strong> (Smartphone, Tablet etc.) ziehen Sie
                            zwei Finger gleichzeitig zusammen (herauszoomen) bzw. auseinander (hereinzoomen).
                        </p>
                    </li>
                    <li>
                        <p>
                            Mit <strong>Maus oder Touchpad</strong> (PC / Laptop) halten Sie eine der STRG-Tasten
                            ihrer Tastatur sowie die linke Maustaste gleichzeitig gedrückt und drehen Sie das Mausrad
                            nach vorne (hereinzoomen) bzw. nach hinten (herauszoomen).
                        </p>
                    </li>
                </ul>
            </template>

            <template v-else>
                <p>
                    Dieses Kartenpanel befindet sich im <strong>Desktop-Modus</strong>.
                </p>
                <p>
                    Im Desktop-Modus kann das Kartenpanel ohne weitere Voraussetzungen mit der Maus oder mit einem
                    einzelnen Finger bedient werden.

                </p>
                <p>Nachteil ist, dass dadurch auf Touchscreens (Smartphone, Tablet etc.)
                    die Webseite als Ganzes nicht mehr gescrollt werden kann, falls das Kartenpanel die vollständige
                    Bildschirmfläche einnimmt. In diesem Fall schalten Sie bitte um auf den 
                    <strong>Touchscreen-Modus</strong>.
                </p>

                <p>
                    Um im Desktop-Modus mit der Karte zu interagieren, gehen Sie folgendermaßen vor:
                </p>

                <h3>Verschieben des Kartenausschnitts</h3>

                <ul>
                    <li>
                        <p>
                            Auf <strong>Touchscreens</strong> (Smartphone, Tablet etc.) wischen Sie
                            mit einem Finger in die gewünschte Richtung.
                        </p>
                    </li>
                    <li>
                        <p>
                            Mit <strong>Maus oder Touchpad</strong> (PC / Laptop) halten Sie die linke Maustaste
                            gedrückt und verschieben Sie die Maus.
                        </p>
                    </li>
                </ul>

                <h3>Zoomen des Kartenausschnitts</h3>

                <ul>
                    <li>
                        <p>
                            Auf <strong>Touchscreens</strong> (Smartphone, Tablet etc.) ziehen Sie
                            zwei Finger gleichzeitig zusammen (herauszoomen) bzw. auseinander (hereinzoomen).
                        </p>
                    </li>
                    <li>
                        <p>
                            Mit <strong>Maus oder Touchpad</strong> (PC / Laptop) halten Sie die linke Maustaste
                            gedrückt und drehen Sie das Mausrad nach vorne (hereinzoomen) bzw. nach hinten (herauszoomen).
                        </p>
                    </li>
                </ul>
            </template>
        </div>

    </SidebarPanel>
</div>