// ATTENTION:

// The two nested <divs> are required to prevent the map panel from
// shrinking too small in flex row (portrait) mode under some circumstances.

div.MapPanel {
    height: 100%;

    // Place zoom buttons in lower left corner:
    /*
    .ol-zoom {
        top: unset;
        bottom:12px;        
    }
    */

   
    div.ProgressBar {
        height: 4px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    img.MapPanel__Crosshair {
        position: absolute;
        width: 32px;
        height: 32px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    div.MapPanel__Toolbar {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;

        > * {
            margin: 2px 2px;
        }

        flex-wrap: wrap;
        margin: 4px;
    }

    div.MapPanel__Inner {
        height: 100%;
        width: 100%;

        // ATTENTION:
        // position:absolute is required for Safari (Mac OS & iOS) and Konqueror!!
        // Without it, the map is not visible in these browsers under some circumstances.
        position: absolute;

        border: 2px solid transparent;

        // TODO: 4 Understand why the focus outline is not visible, so that we have to use a border instead.
        &:focus {
            border: 2px dashed #000;
        }
    }
}
