div.TableView3 {
    //border:2px dashed #000;
    overflow:auto;
    max-height:500px;
    table {
        border-collapse: collapse;

        width: 100%;

        thead {
            margin: 0;
            padding: 0;
            top:0;
            position:sticky;

            th {
                padding: 0;

                button {
                    background-color: #ddd;

                    display: block;
                    font-weight: bold;
                    color: #444;
                    margin: 0;
                    padding: 6px;
                    border: none;
                    border-right: 1px solid #bbb;

                    display: block;
                    width: 100%;
                    text-align: left;
                    white-space: nowrap;

                    img {
                        transition: 0.4s;
                        height: 0.8em;
                        margin-left: 4px;
                    }

                    &:hover {
                        background-color: #ccc;
                    }
                }

                &:last-child {
                    button {
                        border-right: none;
                    }
                }
            }
        }

        td,
        th {
            padding: 2px 4px;
        }

        tbody {
            tr {
                border-bottom: 1px solid #e5e5e5;
            }
        }
    }
}
