<svg class="SvgChart SvgBarChart" :viewBox="getViewBoxString()" :style="getDynamicStyle()">

    <!-- This is a frame around the entire viewBox: -->
    <rect v-if="debug" :x="0" :y="0" :width="size.x" :height="size.y" style="fill:transparent;stroke:#aaa" />

    <g :transform="'translate(' + cached_yLabelsWidth + ',' + (height - w2sY(getDisplayMinY()) + cfg_padding[0]) + ')'">
        <Axis dir="x" :labels="getLabelsX()" />
        <Axis dir="y" :labels="getLabelsY()" />
        <Bars v-if="displayMode == 'bars'" :data="data" />
        <Lines v-if="displayMode == 'lines'" :data="data" />        
        <StackedBars v-if="displayMode == 'stackedBars'" :data="data" />

    </g>
</svg>