div.Piechart {
  // ATTENTION: Even though the defaults for 'stroke-width' and 'stroke' are SVG-related properties,
  // they must be defined for the wrapper <div> to allow developers to overwrite the defaults with inline CSS
  // in the template:
  stroke-width: 3px;
  stroke: #fff;

  svg {
    width: 100%;
    max-height: 180px;

    path.Piechart__DataItem {
      
      &:hover {
        transform:scale(1.08);
      
      
      }

      transition: 0.25s;        
    }
  }

  position: relative; // IMPORTANT for correct placement of inner slot!
}

div.Piechart__Inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
