div.Toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px;

    > * {
        margin: 3px;
    }

    > div > * {
        margin: 3px;
    }

    //########### BEGIN Hide Button labels in mimized Toolbars ########
    &.minimized {
        .hide-on-mobile {
            display: none;
        }
    }
    //########### END Hide Button labels in mimized Toolbars ########
}
