div.Toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding:2px;
    // NOTE: The padding-left + margin of the children is equal to the margin of the "Card" class.
    
    
    

    > * {
        
        margin: 3px;
    }

    //########### BEGIN Hide Button labels in mimized Toolbars ########
    &.minimized {
        .minimizable {
            display: none;
        }

       
       
    }
    //########### END Hide Button labels in mimized Toolbars ########
}
