div.Superinput {    
    position:relative;

    input[type=text] {       
       padding-right:26px !important;
       width:100%;
    }

    input[type=image] {
        background-color: transparent;    
        position:absolute;        
        right:0;        
        top:50%;
        transform: translate(0,-50%);
        height:26px;       

        &:hover {
            cursor: pointer;
        }
    }
}
