div.ChartLegend {
  display: flex;

  flex-wrap: wrap;

  div.ChartLegend__Entry {
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-right:8px;
    
  }

  .ChartLegend__Symbol {
    width: 12px;
    height: 12px;

    margin: 3px;
    margin-right: 6px;
  }

  div.ChartLegend__Symbol {
    border: 1px solid #000;
    border-radius: 1px;
  }
}
