<div class="AndromedaWeekAggregation">
   Zeige Durchschnittswerte: <select v-model="numDaysBack" style="margin-right:8px;">
        <option :value="7">Letzte 7 Tage</option>
        <option :value="28">Letzte 4 Wochen</option>
        <option :value="56">Letzte 8 Wochen</option>
        <option :value="180">Letzte 6 Monate</option>
        <option :value="-1">Seit Beginn der Aufzeichnung</option>
    </select>
    
       <span style="display:inline-block;margin-bottom:8px;">Dargestellter Zeitraum: {{startDateString}} - {{endDateString}}
       </span>
    
    <WeekAggregation v-if="data != null" 
    :color1="color1" :color2="color2"
    :timeSeries="data" :invertColorRamp="invertColorRamp" 
    :numTooltipDecimals="numTooltipDecimals"/>

</div>