div.WeekAggregation {
    overflow-x: auto !important;

    table {
        font-size: 13px;
        width: 100%;
        border-spacing: 1px;
        border-collapse: collapse;

        th {
            //font-weight: normal;
            padding: 4px 2px;
        }

        th.WeekAggregation__Weekdays {
            text-align: left;
        }

        td {
            padding: 6px;
            text-align: center;
            font-weight: bold;
        }
    }
}
