div.ViewportSizeWarning {
    background-color:#f88;
    position:fixed;
    font-size:1.2em;
    font-weight:bold;
    text-align:center;
    padding:20px;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    z-index:9999;
    
}
