<div class="Carousel">
  
    <div ref="outer" class="Carousel__Outer">
        <div ref="inner" class="Carousel__Inner">
            <slot/>
        </div>
    </div>
    
   
    <div v-if="showNavDots" class="Carousel__Dots">
        
        <div v-for="index in getNumDots()" @click="setActiveItemIndex(index)"  :class="getDotClass(index)">
            <div></div>
        </div>
        
    </div>

    <button class="Carousel__ScrollButton Carousel__LeftButton" @click="onLeftButtonClick"></button>
    <button class="Carousel__ScrollButton Carousel__RightButton" @click="onRightButtonClick"></button>
   
</div>

