div.CarouselItem {
    transition: 0.2s;


    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
        z-index: 97;
    }
}

div.CarouselItem--selected {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
    z-index: 98;
}
