

div.FullscreenPopup {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color:#fff;
    z-index:999;
    padding-top:50px;
    

    div.FullscreenPopup__Content {
        
        height:100%;
        overflow:auto;
    }

    > button.FullscreenPopup__CloseButton {
        position:fixed;
        left:0;
        top:0;
        font-size:1em;
        padding:16px;
        background-color:#ccc;
        border:none;

    }
}
