div.ChartHtmlLegend {
  font-size:15px;
  table {
    font-size: 15px;

    td {
      padding: 2px 2px;
      vertical-align: top;

      div {
        width: 11px;
        height: 11px;
        margin-top: 3px;
        margin-right: 2px;
      }
    }
  }

  display:flex;
  flex-wrap: wrap;
}


div.ChartHtmlLegend__Entry {
  display:flex;
  
  width:50%;
  padding:2px;
  //border:1px solid #000;
}

div.ChartHtmlLegend__Symbol {
  width: 11px;
  height: 11px;
  //border:1px solid #000;
  margin-right: 6px;
  margin-top:4px;
}