table.ChartHtmlLegend {
    font-size:15px;

    td {
        padding:2px 2px;
        vertical-align: top;

        div {
          width:11px;
          height:11px;  
          margin-top:3px;
          margin-right:2px;
        }
    }
}