<div class="SidebarPanel" v-show="show" :style="getDynamicStyle_outer()">

    <div class="SidebarPanel__Inner" :style="getDynamicStyle_inner()">
        <div class="SidebarPanel__Header">
            <h2>{{title}}</h2>
            <Smartbutton @click="onCloseButtonClick" title="Ausblenden" alt="Ausblenden" style="padding:6px 10px;">
                <img src="tivigi/img/remove.svg" style="height:10px" />
            </Smartbutton>
        </div>

        <div class="SidebarPanel__Body">
            <slot />
        </div>
    </div>

</div>