div.Tooltip {
    pointer-events: none;
    position:fixed;    
    background-color:#fff;
    border-radius:4px;
    z-index:1000;    
    padding:10px;
    transition: 0.4s;
    transition-property: opacity;

   // white-space: nowrap;
    background-color: #444;    
    color:#fff;
    //font-weight:bold;
    max-width:350px;
    line-height:1.3em;
}
