@mixin flex-center-hv {
    display: flex;
    justify-content: center;
    align-items: center;
}

//############### BEGIN General fixes ################
* {
    box-sizing: border-box;
    //  transition: 0.4s;
}
//############### END General fixes ################

//################ BEGIN Classless rules ################

button {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }

}

select {
    max-width: 280px !important;
}




input,
select {
    background-color: #eee;
    color: #444;
    border-radius: 2px;
    border: none;
    margin: 0;
    padding: 6px 6px 6px 6px;
    font-size: 1em;
    max-width: 100%;
}

//################ END Classless rules ################

.floating {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
}

.padded {
    padding: 15px;
}

.centered-hv {
    position: absolute;
    left: 50%;
    top: 50%;
    
    //width:100%;
  
    transform: translate(-50%, -50%);
    
}

//################## BEGIN Various input element styles ####################
*.Input {
    border: 1px solid #b0b0b0;
    border-radius: 4px;
}

input.Input[type="text"],
div.Input {
    background-color: #fff;
}
//################## END Various input element styles ####################

//############### BEGIN Focus styling ###################
html.focus-no-outline {
    * {
        &:focus {
            outline: none;
        }

        &::-moz-focus-inner {
            border: 0;
        }
    }
}

html.focus-outline {
    * {
        &:focus {
            transition: 0s;
            outline: 2px dashed #000;
            z-index: 1;
        }
    }
}
//############### END Focus styling ###################

//##################### BEGIN button ######################
$button_bgcolor_checked: #09c;
$button_bgcolor_unchecked: #ddd;

.Button {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding: 3px 4px;
    white-space: nowrap;
    display:inline-flex;
    align-items: center;

    background-color: $button_bgcolor_unchecked;
    user-select: none;

    

    &:disabled {
        cursor: default;
    }

    &:hover {
        background-color: #c0c0c0;
    }

    &.minimized {
        > .Button__Label {
            display: none;
        }
    }

    &.Button--active {
        background-color: $button_bgcolor_checked;
        color: #fff;

        &:hover {
            background-color: lighten($button_bgcolor_checked, 5%);
        }
    }

    > * {
        margin:4px;
    }
}


.LightButton {
    background-color: #fff;
    border:none;
    margin:0px 1px;
    padding:4px 4px;
    border-radius: 4px !important;
  
    display: flex;
    align-items: center;
    color: #000 !important;
    &:hover {
        background-color: #ddd;
    }

    font-size:1em;
    font-weight:normal;
  
    img {
        height: 16px;
        margin:3px;
       // margin-right:6px;        
    }

    span {
        margin:0px 3px;
    }
    &.Smartbutton--checked {
        background-color: #e0e0e0;
    }
}





.ButtonIcon {
    
    height:1em;    
}
//##################### END button ######################

//################# BEGIN Card component ################
.Card {
    flex-grow: 1;
    overflow: auto;
    position: relative; // THIS IS IMPORTANT!
    line-height: 1.4em;
    background-color: #fff;
    border: none;
    border-radius: 4px;

    // This should be the same as div.FloatingWindow__Socket padding:
    margin: 3px;
}
//################# END Card component ################

//################### BEGIN Flex components ###############
.Flex--center-hv {
    @include flex-center-hv;
}

.Flex--row {
    // Same as col:
    display: flex;
    flex-grow: 1;
    overflow: auto;
    position: relative;

    // Different from col:
    flex-direction: row;
    
}

.Flex--col {
    // Same as row:
    display: flex;
    flex-grow: 1;
    overflow: auto;
    position: relative;    
    
    // Different from row:
    flex-direction: column;
}
//################### END Flex components ###############

.StoryMapOverlay {
    @include flex-center-hv;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
    font-size: 60px;
    font-weight: bold;
    color: #333;
    letter-spacing: 0.05em;
}

//###################### BEGIN InputGroup ########################
.InputGroup {
    display: inline-flex;
    flex-wrap: wrap;
    flex-shrink: 0;

    > * {
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-width: 0px !important;
        }
        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
//###################### END InputGroup ########################

//################# BEGIN MiniToolbar component ###############

$minitoolbar_button_bgcolor_hover: #ccc;
$minitoolbar_button_bgcolor_active: #ccc;

.MiniToolbar {
    display: inline-flex;
    align-items: center;
    user-select: none;

    > button {
        border: none;
        background-color: transparent;
        transition: 0.4s;

        padding: 6px;
        border-radius: 50%;

        &:hover {
            background-color: $minitoolbar_button_bgcolor_hover;
        }

        > * {
            height: 20px;
            width: 20px;
            margin: 0px;
            display: block;
        }

        &:disabled {
            filter: grayscale(100%) invert(70%);

            &:hover {
                background-color: transparent;
            }
        }

        &.Button--active {
            background-color: $minitoolbar_button_bgcolor_active;

            &:hover {
                background-color: $minitoolbar_button_bgcolor_hover;
            }
        }
    }
}
//################# END MiniToolbar component ###############

//################## BEGIN Table component ###################
.Table {
    width: 100%;

    border-collapse: collapse;

    a {
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-all;
    }

    th {
        vertical-align: top;
    }

    th,
    td {
        padding: 4px 5px;

        text-align: left;

        > svg {
            display: block;
        }

        &.numeric {
            text-align: right;
            white-space: nowrap;
        }

        &:last-child {
            padding-right: 0;
        }

        &:first-child {
            padding-left: 0;
        }
    }

    tr {
        border-bottom: 1px solid #ccc;
    }
}
//################## END Table component ###################

//################## BEGIN SVG Charts ###################

rect.SvgChart__Frame {
    fill: transparent;
    stroke: #000;
}

circle.SvgChart__Origin {
    fill: transparent;
    stroke: #000;
}

g.SvgChart__Bars {
    > rect {
        fill: #88e;

        &:hover {
            // filter: brightness(60%);
            
             stroke: var(--color);
            
            stroke-width: 3;
           
        }
    }
}

.SvgChart {
    text {
        font-size: 18px;
    }
}

g.SvgChart__Legend {
    fill: transparent;
    stroke: none;
    stroke-width: 0;
}

text.SvgChart__StackedBars__BarSum {
    font-size:15px;
    //font-weight: 300;
    text-anchor: middle;
}

g.SvgChart__Lines {

    > path {
        fill: none;
    }

    line,
    path,
    circle {
        stroke-width: 3;
        stroke: #00f;
    }

    circle {
        fill: #fff;
    }

    g:hover {
        circle.SvgChart__Lines__Dot {
            fill: var(--color-hover);
        }
    }

    &:hover {
         path,
         line,
         circle {
            stroke-width: 5;
        }
    }

    > polygon.SvgChart__Lines__Area {
        fill: rgba(0, 0, 255, 0.4);
    }
   
}

g.SvgChart__Axis__X {
    line {
        stroke-width: 1;
        //stroke:#666;
        stroke-dasharray: 3;
    }

    text {
        fill: #666;
        text-anchor: middle;
    }
}

g.SvgChart__Axis__Y {
    line {
        stroke-width: 1;
        stroke: #888;
        stroke-dasharray: 3;
    }

    text {
        fill: #666;
        text-anchor: end;
        dominant-baseline: middle;
    }
}
//################## END SVG Charts ###################



//###################### BEGIN Cursor classes ######################
.cursor-pointer {
    cursor: pointer;
}

.cursor-ew-resize {
    cursor: ew-resize;
}

.cursor-ns-resize {
    cursor: ns-resize;
}

.cursor-nw-resize {
    cursor: nw-resize;
}

.cursor-ne-resize {
    cursor: ne-resize;
}

.cursor-sw-resize {
    cursor: sw-resize;
}

.cursor-se-resize {
    cursor: se-resize;
}
//###################### END Cursor classes ######################