<div class="AndromedaDiscreteTimeSeriesPanel">
  <DashboardPanel :title="title" :subtitle="subtitle">

    <template v-slot:headerButtons>
      <SmartButton v-model="displayMode" :set="0" data-tooltip="Diagramm">
        <img src="tivigi/img/barchart32.png" /><span>Diagramm</span>
      </Smartbutton>
      <SmartButton v-model="displayMode" :set="1" data-tooltip="Tabelle">
        <img src="tivigi/img/table.svg" /><span>Tabelle</span>
      </Smartbutton>
    </template>

    <template v-slot:main>


      <div v-show="displayMode == 0">
        <div>
          <SvgChart :data="chartData" />
          <HtmlLegend :data="chartData" />
        </div>
      </div>

      <TableView v-show="displayMode==1" :data="tableData" />


    </template>


    <template v-slot:infoPanel>

      <slot name="infoPanelText"></slot>
      <!--
      <h2 style="margin-top:30px;">Indikatoren:</h2>
    
      <IndicatorsInfoPanel :indicators="indicators" />
      -->

    </template>

  </DashboardPanel>
</div>