<div class="LocationInput">

    <div class="LocationInput__Overlay" ref="overlay_marker">
        <img v-if="showMarker" :src="markerUrl" :style="dynamicStyle_marker" />
    </div>

    <button :class="dynamicClass" @click="onMapPick" title="Ort auf der Karte wählen">

        <img :src="markerUrl" />

        <div v-if="coords != null">
            Lon: <strong>{{lonlat[0]  | formatNumber(2, '.')}}</strong> Lat: <strong>{{lonlat[1] | formatNumber(2, '.')}}</strong>
        </div>
        <div v-else>
            Ort auf der Karte wählen
        </div>

    </button>

</div>
