div.LocationInput > div {
    display: inline-flex;

    align-items: center;

    img {
        height: 2em;
    }
    
    > * {
        margin: 4px;
    }
}

// ATTENTION:
// Stying rules for div.LocationInput__Overlay MUST NOT be defined as a child of div.LocationInput
// since OpenLayers detaches the element from its original position in the template HTML and moves
// it to a different location in the DOM!

div.LocationInput__Overlay {
    user-select: none;

    pointer-events: none; // This is required to forward clicks on the marker to the map!
    width: 0;
    height: 0;

    img {
        position: relative;

        left: -20px;
        top: -40px;
        width: 40px;
        height: 40px;
    }
}
